.icon-email-mail-streamline a,
.icon-iphone-streamline a{
	text-decoration: none;
	padding-bottom: 3px;
}
.before-header {
	font-size: 1.4rem;
}
#media_image-1.one-half	 {
	margin-left: 0;	
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'], .wp-block-button a, 
.front-page-6 {
	background: linear-gradient(135deg, #00aeef 0%, #0087c3 100%);
}
.site-footer .menu-item a:hover, .site-footer .menu-item a:focus, .site-footer .menu-item.current-menu-item > a {
    color: #0087c3;
}
.home h3 {
	font-size: 1.3em
}
.hero-section {
	height: 400px;
}
@media (min-width: 768px) {
	.page .content {
		margin: 0 auto;
	}
	.hero-section {
		height: 600px;
	}
}
.page-id-49 .hero-section:before {
	background-color: transparent;
}
.page-id-49 .entry-title {
	display: none;
}
.slick-slider-1266 .slick-overlay {
	background-color: transparent!important;
}
@media (min-width: 896px){
.hero-section {
    padding: 20rem 0;

	}
}
#contactlink {
	display: none;
}
@media (min-width: 415px) {
	#contactlink {
		display: block;
	}
	#phone {
		display: none;
	}
}
.wp-block-image {
	padding: 0 1rem 1rem 0;
}
.hero-section {
	background-position: top center;
}
.hero-section:before {
	background: 0 none;
}
.hero-section h1 {
	display: none;
}
.home .hero-section h1, 
figure h2, 
figure > p {
	text-shadow: 1px 2px 1px rgba(58, 53, 53, 0.5);
}
.home {
	.hero-section {
		background-position: center center;
		h1 {
			display: block;
			max-width: 768px;
			margin: 0;
			font-style: italic;
			font-weight: 700;
			line-height: 1.236;
		}
	} 
}
.contact-page header h1{
	display: none;
}

.front-page-4 .wrap {
    align-items: flex-start;
}
.front-page-2 .widget-wrap {
	padding: 0em 2em 0em;
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: -2em;
}
body.search .hero-section {
	display: none;
}
.archive-description {
	padding: 4rem 0;
	margin-bottom: 4rem;
}
.readmore {
	text-decoration: none;
	font-weight: 600;
	padding: 0.5em;
	display: inline-block;
}
.title-area {
	width: 23rem;
}
.grecaptcha-badge{
	visibility: collapse !important;  
}

/* search */
body.search header.entry-header {
	display: none;
}

.before-header {
	height: 5rem;
}
#custom_html-19 {
	margin-left: auto;
}
.search-form .search-toggle {
	cursor: inherit;
	display: none;
}
.site-header .search-form input[type="search"] {
	padding: 0 1rem;
	border-radius: 1rem;
	font-size: 1.3rem;
	max-width: 300px;
	background-color: white;
}
.footer-widgets .widget-area.footer-widgets-2 .widget {
    width: 100%;
}


@media (min-width: 768px) {
	.one-half {
		margin-left: 0;
		padding: 0 1rem
  }
}
.postitem a{
	text-decoration:none;
}
.postitem a:hover {
	color: #000;
}

h1 {
	font-size: 5rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
@media (min-width: 768px) {
	h1 {
    	font-size: 5rem;	
	}
}	